body {
  font-family: var(--font);
  color: var(--text);
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}

.site-header {
  padding: 15px 0;
}

.hero {
  padding: 80px 0;
  background-color: rgb(181, 235, 255);
}

.site-header img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: start;
}

.hero h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-buttons .btn {
  margin-right: 10px;
}

.hero img {
  width: 450px;
  margin-bottom: 0px;
  filter: drop-shadow(0 0 0 transparent);
}

.courses {
  padding: 80px 0;
}

.course-card {
  background: #fff;
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.course-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.course-card img {
  max-width: 100%;
  margin-bottom: 15px;
}

.why-choose-us {
  padding: 80px 0;
  background: var(--light);
}

.stats {
  padding: 60px 0;
  color: #fff;
}

.stats h3 {
  font-weight: bold;
}

.testimonial-card {
  background-color: rgb(202, 230, 254);
  border-radius: 2px;
}


.cta {
  padding: 80px ;
  background-color :rgb(202, 230, 254);
  color: #ffffff;
  margin-top: 50px;
  height: 120px;
  padding-top: 0;
}

.cta div{
    width: 500px;
    height: 90px;
    border-radius: 10px;
}

.footer {
  background: #243b73;
  color: #fff;
  padding: 50px 0;
}

.footer h4,
.footer h5 {
  font-weight: 600;
  margin-bottom: 12px;
}

.footer p,
.footer a {
  font-size: 14px;
  color: #d1d5db;
}

.links {
  padding: 0;
  list-style: none;
}

.links li {
  margin-bottom: 6px;
}

.links a {
  text-decoration: none;
}

.icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.card{
  border-radius: 8px;
}

.container h2{
  color: 0d6efd;
}

.contact-section{
  background-color: f8f9fa;
}

